/Zesp02/Database/obj/Debug
/Zesp02/Database/bin/Debug
/Zesp02/Forms/Forms.Droid/obj/Debug
/Zesp02/.vs/Zesp02/v15/Server/sqlite3
/Zesp02/Forms/Forms.Droid/bin/Debug
/Zesp02/ModelViews/obj/Debug
/Zesp02/Services/obj/Debug
/Zesp02/Dao/obj/Debug
/Zesp02/Forms/Forms.Android/bin/Debug
/Zesp02/Forms/Forms.Android/obj/Debug
